In [ ]:
TOPIC: String Based Assignment Problem

In [8]:
#1. Write a program to reverse a string.
#Ans:

S ="pwskills"
print(S[::-1])

sllikswp

In [4]:
#2. Check if a string is a palindrome.
#Ans:
a= input("Enter the string").lower()
b=(a[::-1])

if (a==b):
    print ("String is Palindrome")
else:
    print ("String is not Palindrome")

Enter the string Balaji

String is not Palindrome

In [6]:
#3. Convert a string to uppercase.

a= input("Enter the string")
print("Uppercase string is", a.upper())

Enter the string pwskills

Uppercase string is PWSKILLS

In [8]:
# 4. Convert a string to lowercase.
# Ans:

b= input("Enter the string")
print("lowercase string is", b.lower())

Enter the string PWSKILLS

lowercase string is pwskills

In [13]:
#5. Count the number of vowels in a string.
#Ans :

a= input("Enter the string ")
l=['A','E','I','O','U','a','e','i','o','u']
c=0
for i in a:
    if i in l:
        c +=1
print("Count of Vowels: ",c)

Enter the string  Rhytm

Count of Vowels:  0

In [15]:
#6. Count the number of consonants in a string.
#Ans:

a= input("Enter the string ")
l=['A','E','I','O','U','a','e','i','o','u']
c=0
for i in a:
    if i not in l:
        c +=1
print("Count of Consonants: ",c)

Enter the string  Rhytam

Count of Consonants:  5

In [17]:
#7. Remove all whitespaces from a string.
#Ans :

a= input("Enter the string :")
print("Without whitespaces from a string", a.strip())

Enter the string :      Rama

Without whitespaces from a string Rama

In [15]:
# 8. Find the length of a string without using the `len()` function.
#Ans: 
s=input("Enter the string")
c=0

for i in s:
    c+=1
print("length of string",c)

Enter the string Rohit

length of string 5

In [13]:
# 9. Check if a string contains a specific word.
#Ans:

s=input("Enter the string")

if "a" in s:
    print("Yes, string contains word ")
else:
    print("No, string does not contain word ")

Enter the string Virat Shubman

Yes, string contains word

In [12]:
#10. Replace a word in a string with another word.
#Ans: 

s = "Bala"
s1=s.replace("la","_Hey")
print("Replaced string",s1)

Replaced string Ba_Hey

In [10]:
#11. Count the occurrences of a word in a string.
#Ans:
s ="balaji is playing bat ball "
print("Number of occurrence of string",s.count("ba"))

Number of occurrence of string 3

In [16]:
#12. Find the first occurrence of a word in a string.
#Ans:

s =" Hi all we are learning python"
print(s.find("a",0,-1))

4

In [29]:
#13. Find the last occurrence of a word in a string.
#Ans:
s =" Hi all we are learning python "
print(s.rindex("n",0,-1))

29

In [30]:
#14. Split a string into a list of words.
#Ans:

s =" Hi all we are learning python "

print(s.split())

['Hi', 'all', 'we', 'are', 'learning', 'python']

In [7]:
#15. Join a list of words into a string.
#Ans:
s=['Hi', 'all', 'we', 'are', 'learning', 'python']

print(" ".join(s))

Hi all we are learning python

In [34]:
#16. Convert a string where words are separated by spaces to one where words
#are separated by underscores.
#Ans:

s =" Hi all we are learning python "
print(s.replace(" ","_"))

_Hi_all_we_are_learning_python_

In [36]:
#17. Check if a string starts with a specific word or phrase.
#Ans:
s ="Hi all we are learning python "
print(s.startswith("Hi"))

True

In [49]:
#18. Check if a string ends with a specific word or phrase.
#Ans:
s ="Hi all we are learning python"
print(s.endswith("python"))

True

In [50]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").
#Ans:
s ="Hi all we are learning python"
print(s.title())

Hi All We Are Learning Python

In [54]:
#20. Find the longest word in a string.
#Ans:

s ="Hi all we are learning python"
print("Longest word in a string : ", max(s.split(),key=len))

Longest word in a string :  learning

In [55]:
#21. Find the shortest word in a string.
#Ans:
s ="Hi all we are learning python"
print("Longest word in a string : ", min(s.split(),key=len))

Longest word in a string :  Hi

In [5]:
#22. Reverse the order of words in a string.
#Ans:
s ="Hi all we are learning python"
print(s.split()[::-1])

['python', 'learning', 'are', 'we', 'all', 'Hi']

In [3]:
#23. Check if a string is alphanumeric.
#Ans:
s ="python123"
print(s.isalnum())

True

In [17]:
#24. Extract all digits from a string.
#Ans:
s ="Hi 10 all we 45 are learning python 123"
c=[]

for i in s.split():
    if i.isdigit():
        c.append(int(i))
print("All digits from string : ",c)

All digits from string :  [10, 45, 123]

In [38]:
#25. Extract all alphabets from a string.
#Ans:

s ="Hi 10 all we 45 are learning python 123"
c=[]

for i in s.split():
    if i.isalpha():
        c.extend(i)
print("All alphabets from a string: ",c)

All alphabets from a string:  ['H', 'i', 'a', 'l', 'l', 'w', 'e', 'a', 'r', 'e', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g', 'p', 'y', 't', 'h', 'o', 'n']

In [48]:
#26. Count the number of uppercase letters in a string.
#Ans:
s ="Hi All WE 45 Are Learning PYTHON 123"
U=0
for i in range(len(s)):
    if s[i].isupper():
        U+=1
print("Uppercase letters from string: ",U)

Uppercase letters from string:  12

In [50]:
#27. Count the number of lowercase letters in a string.
#Ans:
s ="Hi All WE 45 Are Learning PYTHOn 123"
L=0
for i in range(len(s)):
    if s[i].islower():
        L+=1
print("Lowercase letters from string: ",L)

Lowercase letters from string:  13

In [58]:
#28. Swap the case of each character in a string.
#Ans:
s="Hi ALL WE 45 aRE Learning PYTHon"

print(s.swapcase())

hI all we 45 Are lEARNING pythON

In [59]:
#29. Remove a specific word from a string.
#ans:
s="Hi ALL WE 45 aRE Learning PYTHon"
print(s.replace("ALL",""))

Hi  WE 45 aRE Learning PYTHon

In [4]:
#30. Check if a string is a valid email address
#Ans:
import re
E = input("Enter the email id : ")
pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'

if re.match(pattern,E):
    print('This is valid email id')
else:
    print('This is not valid email id')

Enter the email id :  bjuye@gmail.com

This is valid email id

In [13]:
#31. Extract the username from an email address string.
#Ans:
E = input("Enter the email id : ")
print(E.split("@")[0])

Enter the email id :  bjuye@gmail.com

bjuye

In [1]:
#32. Extract the domain name from an email address string.
#Ans:
E = input("Enter the email id : ")
print(E.split("@")[-1])

Enter the email id :  bjuye@gmail.com

gmail.com

In [18]:
#33. Replace multiple spaces in a string with a single space.
#Ans:
s="   Learning   PYTHon   "
print(s.replace("   "," "))

 Learning PYTHon

In [19]:
#34. Check if a string is a valid URL.
#Ans:
s=input("Enter the valid URL")
X = "https:" in s or 'http:' in s
Y = X
if Y == True:
    print('string has valid url')
else:
    print('string has not valid url')

Enter the valid URL https://wwav2.wwalliance.com/wwaonline/admin/grdbratelookup/globalrateupload

string has valid url

In [27]:
#35. Extract the protocol (http or https) from a URL string.
#Ans:

s=input("Enter the valid URL")
print( s[0:5])

Enter the valid URL https://wwav2.wwalliance.com/wwaonline/admin/grdbratelookup/globalrateupload

https

In [3]:
#36. Find the frequency of each character in a string.
#Ans:
s="Learning PYTHon"
for i in s:
    frequency =s.count(i)
    print(str(i),":",str(frequency),end=",")

L : 1,e : 1,a : 1,r : 1,n : 3,i : 1,n : 3,g : 1,  : 1,P : 1,Y : 1,T : 1,H : 1,o : 1,n : 3,

In [5]:
#37. Remove all punctuation from a string.
#Ans:
import string

a="Hi, ALL /WE 45 ?aRE Learning. PYTHon/"

for i in a:
    if i in string.punctuation:             
        i = ""
    print(i, end="")

Hi ALL WE 45 aRE Learning PYTHon

In [19]:
#38. Check if a string contains only digits.
#Ans:
s= "Hi All WE 45 Are Learning PYTHOn 123"
a="122345"
if s.isdigit():
    print("s String contains only digits")
else:
    print("s String does not contains only digits")
if a.isdigit():
    print("a String contains only digits")
else:
    print("a String does not contins digits")

s String does not contains only digits
a String contains only digits

In [3]:
#39. Check if a string contains only alphabets.
#Ans:
s= "LearningPYTHOn"
a="122345"
if s.isalpha():
    print("s String contains only alphabets")
else:
    print("s String does not contains only alphabets")
if a.isalpha():
    print("a String contains only alphabets")
else:
    print("a String does not contains alphabets")

s String contains only alphabets
a String does not contains alphabets

In [27]:
#40. Convert a string to a list of characters.
#Ans:
s= "Hi All WE 34 Are Learning PYTHOn"
s1=[]
for i in s.split():
    if i.isalpha(): # if we want to check alphabets and wants only charecters from string or else we can use just below statement
        s1.extend(i)
print(s1)

['H', 'i', 'A', 'l', 'l', 'W', 'E', 'A', 'r', 'e', 'L', 'e', 'a', 'r', 'n', 'i', 'n', 'g', 'P', 'Y', 'T', 'H', 'O', 'n']

In [1]:
#41. Check if two strings are anagrams.
#Ans:
a="Race"
b="Care"
s1=a.lower()
s2=b.lower()

def check(s1, s2):
	if(sorted(s1) == sorted(s2)):
		print("The strings are anagrams.")
	else:
		print("The strings aren't anagrams.")		
		
check(s1, s2)

The strings are anagrams.

In [7]:
#42. Encode a string using a Caesar cipher.
#Ans:
def caesar_cipher(text, shift):
    encoded_text = ""    
    for char in text:
        if char.isalpha():
            encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
        else:
            encoded_char = char
            
        encoded_text += encoded_char
    return encoded_text

text = "Hello, world!"
shift = 2
encoded_text = caesar_cipher(text, shift)

print("Encoded text:", encoded_text)

Encoded text: dgnnq, yqtnf!

In [14]:
#43. Decode a Caesar cipher encoded string.
#Ans:
def caesar_cipher_decoder(text, shift):
    decoded_text = ""    
    for char in text:
        if char.isalpha():
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            decoded_char = char
            
        decoded_text += decoded_char
    return decoded_text

text = "jgnnq, yqtnf!"
shift = 2
decoded_text = caesar_cipher_decoder(text, shift)

print("decoded text:", decoded_text)

decoded text: hello, world!

In [20]:
#44. Find the most frequent word in a string.
#Ans:
import re
from collections import Counter

def most_frequent_word(input_string):
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    words = clean_string.split()

    word_counter = Counter(words)


    most_common_word = word_counter.most_common(1)[0][0]

    return most_common_word

input_str = "Hello world , hello there! How's the world " 

most_common = most_frequent_word(input_str)

print("Most frequent word:", most_common)

Most frequent word: hello

In [14]:
#45. Find all unique words in a string.
#ans:
s="hello all world hello world and hello"
s1=set(s.split())
for i in s1:
    print(i)

hello
world
all
and

In [4]:
#46. Count the number of syllables in a string.
#Ans:
import re

def count_syllables(word):
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

word1 = "Pwskills"
word2 = "Ineuron"
word3 = "syllable"

syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'Pwskills' has 1 syllables.
'Ineuron' has 3 syllables.
'syllable' has 3 syllables.

In [6]:
#47. Check if a string contains any special characters.
#Ans:
s = 'viratk@hli@pws#skills%'
spclchar = '[@_!#$%^&*()<>?/\|}{~:]'
c = 0

s.split()
for i in range(len(s)):
    if s[i] in spclchar:
        c +=1
if c :
    print('string contains special characters')
else:
    print('string does not contains any special characters')

string contains special characters

In [14]:
#48. Remove the nth word from a string.
#Ans:
s = 'I love to play cricket'
s1=s.split()
nth_word = int(input("Enter the nth word index number:"))-1
removed_word=print("Remove word:",s1[nth_word])
new_word=s.replace(s1[nth_word],"")
print("new word: ",new_word)

Enter the nth word index number: 3

Remove word: to
new word:  I love  play cricket

In [21]:
#49. Insert a word at the nth position in a string.
#Ans:

s49 = 'I love to play cricket'
sp1=s49.split()
nth_Position = int(input("Enter the nth word index number:"))-1
replace_word = input("Enter the replaced word :")
s2=list(s1)
temp = s2.insert(nth_Position,replace_word)
s2 = ' '.join(s2)
print(s2)

Enter the nth word index number: 2
Enter the replaced word : too

I too love to play cricket

In [1]:
#50. Convert a CSV string to a list of lists.
#Ans:
csv_str = 'pwskills,ineuron,sudh,kumar'
new_str = csv_str.split(',')
print(new_str)

['pwskills', 'ineuron', 'sudh', 'kumar']

In [18]:
#List Based Practice Problem :
#1. Create a list with integers from 1 to 10.
#Ans:

l=list(range (1,11))
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
#2. Find the length of a list without using the `len()` function.
#Ans:
l=[1,2,3,4,5]
c=0
for i in l:
    c+=1
print(c)

5

In [28]:
#3. Append an element to the end of a list.
#Ans:
l=[1,2,3,4,5]
l.append(10)
print(l)

[1, 2, 3, 4, 5, 10]

In [29]:
#4. Insert an element at a specific index in a list.
#Ans:
l=[1,2,3,4,5]
l.insert(1,25)
print(l)

[1, 25, 2, 3, 4, 5]

In [30]:
#5. Remove an element from a list by its value.
#Ans:
l=[1,2,3,4,5]
l.remove(3)
print(l)

[1, 2, 4, 5]

In [32]:
#6. Remove an element from a list by its index.
#Ans:
l=[1,2,3,4,5]
l.pop(3)
print(l)

[1, 2, 3, 5]

In [33]:
#7. Check if an element exists in a list.
#Ans:
l=[1,2,3,4,5]
5 in l

True

In [40]:
#8. Find the index of the first occurrence of an element in a list.
#Ans:
l=[1,2,4,3,2,4,3,5,3,4,5,1]
l.index(4)

2

In [41]:
#9. Count the occurrences of an element in a list.
#Ans:
l=[1,2,4,3,2,4,3,5,3,4,5,1]
l.count(4)

3

In [42]:
#10. Reverse the order of elements in a list.
#Ans:
l=[1,2,3,4,5]
l1=l[::-1]
print(l1)

[5, 4, 3, 2, 1]

In [55]:
#11. Sort a list in ascending order.
#Ans:
l=[5,4,6,8,10,12,1,2]
l.sort()
print(l)

[1, 2, 4, 5, 6, 8, 10, 12]

In [57]:
#12. Sort a list in descending order.
#Ans:
l=[5,4,6,8,10,12,1,2]
l.sort(reverse=True)
print(l)

[12, 10, 8, 6, 5, 4, 2, 1]

In [5]:
#13. Create a list of even numbers from 1 to 20.
l=list(range(2,22,2))
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [9]:
#14. Create a list of odd numbers from 1 to 20.
#Ans:
l=list(range(1,20,2))
print(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [11]:
#15. Find the sum of all elements in a list.
#Ans:
l=[1,2,3,4,5]
l1=sum(l)
print(l1)

15

In [13]:
#16. Find the maximum value in a list.
#Ans:
l=[1,2,3,4,5]
print(max(l))

5

In [14]:
#17. Find the minimum value in a list.
#Ans:
l=[1,2,3,4,5]
print(min(l))

1

In [18]:
#18. Create a list of squares of numbers from 1 to 10.
#Ans:
l=[]
for i in range(1,10):
    i =i**2
    l.append(i)
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [32]:
#19. Create a list of random numbers.
#Ans:
import random
l1=[]
for i in range(0,5):
    a=random.randint(1,10)
    l1.append(a)
print(l1)

[5, 2, 7, 6, 4]

In [34]:
#20. Remove duplicates from a list.
#Ans:
l=[1,2,4,3,2,4,3,5,3,4,5,1]
s=set(l)
print(s)
l1=list(s)
print(l1)

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]

In [6]:
#21. Find the common elements between two lists.
#Ans:
l = [1,2,4,3,2,4,3,5,3,4,5,1]
l1 = [4,3,5,8,9,20,10]
def common_elements(l,l1):
    return [x for x in l if x in l1]

list(set(common_elements(l,l1)))

[3, 4, 5]

In [20]:
#22. Find the difference between two lists.
#Ans:
l = [1,2,4,3,2,4,3,5,3,4,5,1]
l1 = [4,3,5,8,9,20,10]
l2 = list(set(l) - set(l1))
print(l2)

[1, 2]

In [22]:
#23. Merge two lists.
#Ans:
l = [1,2,4,3,2,4,3,5,3,4,5,1]
l1 = [4,3,5,8,9,20,10]
l2 = l + l1
print(l2)

[1, 2, 4, 3, 2, 4, 3, 5, 3, 4, 5, 1, 4, 3, 5, 8, 9, 20, 10]

In [29]:
#24. Multiply all elements in a list by 2.
#Ans:
l=[1,2,3,4,5]
l1=[]
for i in l:
    i=i*2
    l1.append(i)
print(l1)

[2, 4, 6, 8, 10]

In [31]:
#25. Filter out all even numbers from a list.
#Ans:
l=[1,2,3,4,5,6,7,8,10,13,15,16,18,20,24]
l1=[]
for i in l:
    if i%2==0:
        l1.append(i)
print(l1)

[2, 4, 6, 8, 10, 16, 18, 20, 24]

In [1]:
#26. Convert a list of strings to a list of integers.
#Ans:
s = ["1","2","3","4","5"]
l=[int(x) for x in s]
print(l)
type(l[1])

[1, 2, 3, 4, 5]

int

In [2]:
#27. Convert a list of integers to a list of strings.
#Ans:
s = [1,2,3,4,5]
l=[str(x) for x in s]
print(l)
type(l[1])

['1', '2', '3', '4', '5']

str

In [19]:
#28. Flatten a nested list.
#Ans:

l1 = [1, [2, 3], [4, [5, 6]], 7]
def flatten_list(l1):
    flattened = []
    for i in l1:
        if isinstance(i, list):
            flattened.extend(flatten_list(i))
        else:
            flattened.append(i)
    return flattened

flattened_list = flatten_list(l1)

print(flattened_list)

[1, 2, 3, 4, 5, 6, 7]

In [2]:
#29. Create a list of the first 10 Fibonacci numbers.
#Ans:
def fibonacci(n):
    l=[]
    a,b = 0,1
    for _ in range(n):
        l.append(a)
        a,b = b,a+b
    return l  
l1 = fibonacci(10)
print(l1)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [39]:
#30. Check if a list is sorted.
#Ans:
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True

ascending_list =[10,3,5,7,12,4,2,0,13]

if is_sorted_ascending(ascending_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is not sorted in ascending order.

In [4]:
#31. Rotate a list to the left by `n` positions
#Ans:
def rotate_left(lst, n):
    n = n % len(lst)
    return lst[n:] + lst[:n]

my_list = [1, 2, 3, 4, 5]
n = 2
rotated_list = rotate_left(my_list, n)
print(rotated_list)

[3, 4, 5, 1, 2]

In [8]:
#32. Rotate a list to the right by `n` positions.
#Ans:
def rotate_right(lst, n):
    n = n % len(lst)
    return lst[-n:]+lst[:-n]

my_list = [9, 6, 3, 4, 5]
n = 2
rotated_list = rotate_right(my_list, n)
print(rotated_list)

[4, 5, 9, 6, 3]

In [1]:
#33. Create a list of prime numbers up to 50.
#Ans:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers = [num for num in range(2, 51) if is_prime(num)]

print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [3]:
#34. Split a list into chunks of size `n`.
#Ans:
def split_list(lst, n):
    return [lst[i:i + n] for i in range(0, len(lst), n)]

lst=[1,2,3,4,5,6,7,8,9,10,23,34]
n=2
chunks = split_list(lst, n)
print(chunks)

[[1, 2], [3, 4], [5, 6], [7, 8], [9, 10], [23, 34]]

In [4]:
#35. Find the second largest number in a list.
#Ans:

def second_largest(lst):
    if len(lst) < 2:
        return None

    largest = second = float('-inf')

    for num in lst:
        if num > largest:
            second = largest
            largest = num
        elif num > second and num != largest:
            second = num

    return second

my_list = [4, 7, 2, 9, 5, 8]
result = second_largest(my_list)
print("The second largest number is:", result)

The second largest number is: 8

In [7]:
#36. Replace every element in a list with its square.
#Ans:
def square_list(lst):
    l2=[]
    for i in lst:
        l2.append(i**2)
    return l2

lst=[2,3,4,5]
square_list1 = square_list(lst)
print(square_list1)

[4, 9, 16, 25]

In [1]:
#37. Convert a list to a dictionary where list elements become keys and their indices become values.
#Ans:
my_list = ["apple", "banana", "cherry", "date"]


my_dict = {item: index for index, item in enumerate(my_list)}

print(my_dict)

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

In [4]:
#38. Shuffle the elements of a list randomly.
#Ans:
import random
lst=[2,3,40,11,30]
random.shuffle(lst)
print(lst)

[40, 3, 30, 11, 2]

In [9]:
#39. Create a list of the first 10 factorial numbers.
#Ans:
def factorial(n):
    if n == 0:
        return 1
    else:
        result = 1
        for i in range (1,n+1):
            result *=i
        return result
    
Factorial_num=[factorial(i) for i in range(10)]
print(Factorial_num)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [14]:
#40. Check if two lists have at least one element in common.
#Ans:

def common_element(l1,l2):
    for item in l1:
        if item in l2:
            return True
    return False

lst1=[2,3,4,53]
lst2=[8,6,7,53,44]

if common_element(lst1,lst2):
    print("The list have at least one element common")
else:
    print("The list does not have at least one element common")

The list have at least one element common

In [17]:
#41. Remove all elements from a list.
#Ans:

lst1=[2,3,4,53]
lst1.clear()
print(lst1)

[]

In [24]:
#42. Replace negative numbers in a list with 0.
#Ans:
l1=[2,-3,4,-1,10,-8]
for item in range(len(l1)):
    if l1[item] < 0:
        l1[item] = 0
print(l1)

[2, 0, 4, 0, 10, 0]

In [28]:
#43. Convert a string into a list of words.
#Ans:

s="Hi all how are you?"

l1=s.split()

print(l1)

['Hi', 'all', 'how', 'are', 'you?']

In [32]:
#44. Convert a list of words into a string.
#Ans:
l=['Hi', 'all', 'how', 'are', 'you?']

s=' '.join(l)

print(s)

Hi all how are you?

In [33]:
#45. Create a list of the first `n` powers of 2.
#Ans:
n=10

power_of_2=[2**i for i in range(n)]

print(power_of_2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [41]:
#46. Find the longest string in a list of strings.
#Ans:
        
s="Hi all we are learning python in pwskills."
l= s.split()
long_string = max(l,key=len)
print("Longest string is:",long_string)

Longest string is: pwskills.

In [42]:
#47. Find the shortest string in a list of strings.
#Ans:
s="Hi all we are learning python in pwskills."
l= s.split()
long_string = min(l,key=len)
print("Longest string is:",long_string)

Longest string is: Hi

In [43]:
#48. Create a list of the first `n` triangular numbers.
#Ans:

n = 10 
triangular_numbers = [i * (i + 1) // 2 for i in range(1, n + 1)]

print(triangular_numbers)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [45]:
#49. Check if a list contains another list as a subsequence.
#Ans:

def is_subsequence(sub, larger):
    sub_len, larger_len = len(sub), len(larger)
    sub_index, larger_index = 0, 0

    while sub_index < sub_len and larger_index < larger_len:
        if sub[sub_index] == larger[larger_index]:
            sub_index += 1
        larger_index += 1

    return sub_index == sub_len

larger_list = [1, 2, 3, 4, 5, 6, 7]
sub_list = [2, 4, 6]

if is_subsequence(sub_list, larger_list):
    print("sub_list is a subsequence of larger_list")
else:
    print("sub_list is not a subsequence of larger_list")

sub_list is a subsequence of larger_list

In [46]:
#50. Swap two elements in a list by their indices.
#Ans:

my_list = [1, 2, 3, 4, 5]

index1 = 1
index2 = 3

if 0 <= index1 < len(my_list) and 0 <= index2 < len(my_list):
    temp = my_list[index1]
    my_list[index1] = my_list[index2]
    my_list[index2] = temp

print(my_list)

[1, 4, 3, 2, 5]

In [ ]:
Tuple Based Practice Problem :

In [53]:
#1. Create a tuple with integers from 1 to 5.
#Ans:
t =tuple(range(1,6))

print(t)

(1, 2, 3, 4, 5)

In [55]:
#2. Access the third element of a tuple.
#ans:
t=(1, 2, 3, 4, 5)
t[2]

3

In [60]:
#3. Find the length of a tuple without using the `len()` function.
#Ans:
t=(1, 2, 3, 4, 5)
length=0
for _ in t:
    length +=1
print("len of tuple:",c)

len of tuple: 4

In [61]:
#4. Count the occurrences of an element in a tuple.
#Ans:
t = (1, 2, 2, 3, 4, 2, 5)

element_to_count = 2
count = t.count(element_to_count)

print(f"The element {element_to_count} appears {count} times in the tuple.")

The element 2 appears 3 times in the tuple.

In [2]:
#5. Find the index of the first occurrence of an element in a tuple.
#Ans:

t = (1, 2, 2, 3, 4, 2, 5)

element_of_num = 2
Index_num = t.index(element_of_num)

print(f"The element {element_of_num} is first found at index {Index_num}.")

The element 2 is first found at index 1.

In [3]:
#6. Check if an element exists in a tuple.
#Ans:
t = (1, 2, 2, 3, 4, 2, 5)
4 in t

True

In [5]:
#7. Convert a tuple to a list.
#Ans:
t = (1, 2, 2, 3, 4, 2, 5)
l= list(t)
print(l, type(l))

[1, 2, 2, 3, 4, 2, 5] <class 'list'>

In [1]:
#8. Convert a list to a tuple.
#Ans:
l=[1, 2, 2, 3, 4, 2, 5]
t=tuple(l)

print(t, type(t))

(1, 2, 2, 3, 4, 2, 5) <class 'tuple'>

In [1]:
#9. Unpack the elements of a tuple into variables.
#Ans:
t1 = (1, 2, 3)

a, b, c = t1

print(a)  
print(b)  
print(c)

1
2
3

In [2]:
#10. Create a tuple of even numbers from 1 to 10.
#Ans:

t =tuple(range(2,11,2))

print(t)

(2, 4, 6, 8, 10)

In [3]:
#11. Create a tuple of odd numbers from 1 to 10.
#Ans:
t =tuple(range(1,11,2))

print(t)

(1, 3, 5, 7, 9)

In [4]:
#12. Concatenate two tuples.
#Ans:
t1=(1,10,20,30)
t2=(2,11,22,33)
t3=t1+t2
print(t3)

(1, 10, 20, 30, 2, 11, 22, 33)

In [5]:
#13. Repeat a tuple three times.
t1=(1,10,20,30)
t2=t1*3
print(t2)

(1, 10, 20, 30, 1, 10, 20, 30, 1, 10, 20, 30)

In [10]:
#14. Check if a tuple is empty.
#Ans:
t2=( )
if not t2 :
    print("t2 is Empty Tuple")
else:
    print("t2 is not Empty Tuple")

t2 is Empty Tuple

In [11]:
#15. Create a nested tuple.
#Ans:
t15 = (1,2,3,(4,5,6),('A','B','C'))
print(t15)

(1, 2, 3, (4, 5, 6), ('A', 'B', 'C'))

In [12]:
#16. Access the first element of a nested tuple.
#Ans:
t16 = (1,2,3,(4,5,6),('A','B','C'))
t16[0]

1

In [13]:
#17. Create a tuple with a single element.
#Ans:
t17=(1,)
print(t17,type(t17))

(1,) <class 'tuple'>

In [15]:
#18. Compare two tuples.
#Ans:
t17=(10,20,30)
t18=(30,10,20)

if t17==t18:
    print("Tuple are both same")
else:
    print("Tuple are different")

Tuple are different

In [20]:
#19. Delete a tuple.
#Ans:
t19=(1,2,3)
del t19
t19

NameError: name 't19' is not defined

In [22]:
#20. Slice a tuple.
#Ans:
t20=(1,2,3,4,5,6,7)
t20[2:6]

(3, 4, 5, 6)

In [28]:
#21. Find the maximum value in a tuple.
#Ans:
t21=(1,2,3,4,5,6,7)
print(max(t21))

7

In [29]:
#22. Find the minimum value in a tuple.
#Ans:
t22=(1,2,3,4,5,6,7)
print(min(t22))

1

In [33]:
#23. Convert a string to a tuple of characters.
#Ans:
s23="This is 20th Aug Assignment"
t23=tuple(s23)
print(t23)

('T', 'h', 'i', 's', ' ', 'i', 's', ' ', '2', '0', 't', 'h', ' ', 'A', 'u', 'g', ' ', 'A', 's', 's', 'i', 'g', 'n', 'm', 'e', 'n', 't')

In [34]:
#24. Convert a tuple of characters to a string.
#Ans:
t24=('A', 's', 's', 'i', 'g', 'n', 'm', 'e', 'n', 't')
s24=str(t24)
print(s24, type(s24))

('A', 's', 's', 'i', 'g', 'n', 'm', 'e', 'n', 't') <class 'str'>

In [35]:
#25. Create a tuple from multiple data types.
#Ans:
t25=('a',2+6j,2.7,8)
print(t25,type(t25))

('a', (2+6j), 2.7, 8) <class 'tuple'>

In [36]:
#26. Check if two tuples are identical.
#Ans:
t25=('A','S','H')
t26=('A','S','H')
if t25 == t26:
    print("Both tuples are identical")
else:
    print("Both tuples are not identical")

Both tuples are identical

In [44]:
#27. Sort the elements of a tuple.
#Ans:
t27=(2,8,6,4,1,0,3,33,55,88)
t28=sorted(t27)
print(tuple(t28),type(t28))

(0, 1, 2, 3, 4, 6, 8, 33, 55, 88) <class 'list'>

In [47]:
#28. Convert a tuple of integers to a tuple of strings.
#Ans:
tuple_of_integers=(2,8,6,4,1,0,3,33,55,88)
tuple_of_strings= tuple(str(x) for x in tuple_of_integers) 
print(tuple_of_strings,type(tuple_of_strings))

('2', '8', '6', '4', '1', '0', '3', '33', '55', '88') <class 'tuple'>

In [49]:
#29. Convert a tuple of strings to a tuple of integers.
#Ans:

tuple_of_string=('2','8','6','4','1')
tuple_of_integers= tuple(int(x) for x in tuple_of_string) 
print(tuple_of_integers,type(tuple_of_integers))

(2, 8, 6, 4, 1) <class 'tuple'>

In [50]:
#30. Merge two tuples.
#Ans:
t1=(1,10,20,30)
t2=(2,11,22,33)
t3=t1+t2
print(t3)

(1, 10, 20, 30, 2, 11, 22, 33)

In [6]:
#31. Flatten a nested tuple.
#Ans:
def flatten_tuple(nested_tuple):
    flattened_tuple=[]
    for item in nested_tuple:
        if isinstance(item,tuple):
            flattened_tuple.extend(flatten_tuple(item))
        else:
            flattened_tuple.append(item)
    return tuple(flattened_tuple)        
        
t31 = (1,2,3,(4,5,6),('A','B','C'))
flattened_tuple_t31=flatten_tuple(t31)
print(flattened_tuple_t31)

(1, 2, 3, 4, 5, 6, 'A', 'B', 'C')

In [7]:
#32. Create a tuple of the first 5 prime numbers.
#Ans:
def generate_primes(n):
    primes = []
    num = 2
    while len(primes) < n:
        is_prime = True
        for p in primes:
            if num % p == 0:
                is_prime = False
                break
        if is_prime:
            primes.append(num)
        num += 1
    return tuple(primes)

first_5_primes = generate_primes(5)
print(first_5_primes)

(2, 3, 5, 7, 11)

In [9]:
#33. Check if a tuple is a palindrome.
#Ans:

def is_tuple_palindrome(input_tuple):
    return input_tuple == input_tuple[::-1]

palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)

print(is_tuple_palindrome(palindrome_tuple))  
print(is_tuple_palindrome(non_palindrome_tuple))

True
False

In [15]:
#34. Create a tuple of squares of numbers from 1 to 5.
#Ans:
def square_of_tuple_numbers(n):
    squared_tuple=[]
    for i in range(1,n):
        squared_tuple.append(i**2)
    return tuple(squared_tuple)

n=6
squares_of_numbers =square_of_tuple_numbers(n)
print(squares_of_numbers)

(1, 4, 9, 16, 25)

In [12]:
#35. Filter out all even numbers from a tuple.
#Ans:
def even_numbers_tuple(t):
    even_tuple=tuple(i for i in t if i%2 == 0)
    return even_tuple

t=(1, 10, 20, 30, 2, 11, 22, 33)
even_numb_tuple = (even_numbers_tuple(t))
print(even_numb_tuple)

(10, 20, 30, 2, 22)

In [13]:
#36. Multiply all elements in a tuple by 2.
#Ans:
def multiply_elements(t,n):
    multiplied_elements=tuple(i*2 for i in t)
    return multiplied_elements
        
t35=(1, 2, 3)
n=2
multi_element=multiply_elements(t35,n)
print(multi_element)

(2, 4, 6)

In [14]:
#37. Create a tuple of random numbers.
#Ans:
import random
tuple_random=tuple(random.randint(1,10) for i in range(0,5))

print(tuple_random)

(3, 7, 1, 3, 7)

In [16]:
#38. Check if a tuple is sorted.
#Ans:
def is_sorted_ascending(t):
    for i in range(1, len(t)):
        if t[i] < t[i - 1]:
            return False
    return True

ascending_tuple =(10,3,5,7,12,4,2,0,13)

if is_sorted_ascending(ascending_tuple):
    print("The tuple is sorted in ascending order.")
else:
    print("The tuple is not sorted in ascending order.")

The tuple is not sorted in ascending order.

In [19]:
#39. Rotate a tuple to the left by `n` positions.
#Ans:
def rotate_left(t39, n):
    n = n % len(t39)
    return t39[n:] + t39[:n]

tuple39 = (1, 2, 3, 4, 5)
n = 2
rotated_tuple = rotate_left(tuple39, n)
print(rotated_tuple)

(3, 4, 5, 1, 2)

In [24]:
#40. Rotate a tuple to the right by `n` positions.
#Ans:

def rotate_tuple_right(t, n):
    if n < 0:
        n = len(t) + n 

    n = n % len(t)  

    rotated_tuple = t[-n:] + t[:-n]  

    return rotated_tuple


original_tuple = (1, 2, 3, 4, 5)
n = 2  

rotated_tuple = rotate_tuple_right(original_tuple, n)
print(rotated_tuple)

(4, 5, 1, 2, 3)

In [1]:
#41. Create a tuple of the first 5 Fibonacci numbers.
#Ans:

def generate_fibonacci(n):
    fibonacci_numbers = [0, 1]
    while len(fibonacci_numbers) < n:
        next_number = fibonacci_numbers[-1] + fibonacci_numbers[-2]
        fibonacci_numbers.append(next_number)
    return tuple(fibonacci_numbers[:n])


fibonacci_tuple = generate_fibonacci(5)

print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [3]:
#42. Create a tuple from user input.
#Ans:
user_input=input("Enter the elements separated by commas:")

elements=[int(x.strip())for x in user_input.split(',')]
user_tuple=tuple(elements)
print("User Tuple:",user_tuple)

Enter the elements separated by commas: 3,4,5,6

User Tuple: (3, 4, 5, 6)

In [4]:
#43. Swap two elements in a tuple.
#Ans:

original_tuple = (1, 2, 3, 4, 5)

index1 = 1
index2 = 3

tuple_list = list(original_tuple)

tuple_list[index1], tuple_list[index2] = tuple_list[index2], tuple_list[index1]

swapped_tuple = tuple(tuple_list)

print("Original Tuple:", original_tuple)
print("Swapped Tuple:", swapped_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Swapped Tuple: (1, 4, 3, 2, 5)

In [6]:
#44. Reverse the elements of a tuple.
#Ans:
original_tuple = (1, 2, 3, 4, 5)
tuple_list = list(original_tuple)
Reverse_tuple=tuple(tuple_list[::-1])

print("Original Tuple:", original_tuple)
print("Reverse tuple:", Reverse_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Reverse tuple: (5, 4, 3, 2, 1)

In [6]:
#45. Create a tuple of the first `n` powers of 2.
#Ans:
n=10

power_of_2 = [2**i for i in range(n)]
Tuple_powers_of_2 = tuple(power_of_2)

print(Tuple_powers_of_2)

(1, 2, 4, 8, 16, 32, 64, 128, 256, 512)

In [10]:
#46. Find the longest string in a tuple of strings.
#Ans:
strings_tuple = ('apple', 'banana', 'orange', 'kiwi', 'strawberry')

longest_string = max(strings_tuple, key=len)

print("Longest string:", longest_string)

Longest string: strawberry

In [11]:
#47. Find the shortest string in a tuple of strings.
#Ans:
strings_tuple = ('apple', 'banana', 'orange', 'kiwi', 'strawberry')

longest_string = min(strings_tuple, key=len)

print("Longest string:", longest_string)

Longest string: kiwi

In [12]:
#48. Create a tuple of the first `n` triangular numbers.
#Ans:

def triangular_number(n):
    return n * (n + 1) // 2

def first_n_triangular_numbers(count):
    triangular_nums = tuple(triangular_number(i) for i in range(1, count + 1))
    return triangular_nums

n = 7
triangular_nums_tuple = first_n_triangular_numbers(n)

print("Tuple of the first", n, "triangular numbers:", triangular_nums_tuple)

Tuple of the first 7 triangular numbers: (1, 3, 6, 10, 15, 21, 28)

In [13]:
#49. Check if a tuple contains another tuple as a subsequence.
#Ans:
def contains_subsequence(main_tuple, sub_tuple):
    main_len = len(main_tuple)
    sub_len = len(sub_tuple)
    
    for i in range(main_len - sub_len + 1):
        if main_tuple[i:i + sub_len] == sub_tuple:
            return True
    
    return False

tuple1 = (1, 2, 3, 4, 5, 6, 7)
tuple2 = (3, 4, 5)


result = contains_subsequence(tuple1, tuple2)

if result:
    print("tuple2 is a subsequence of tuple1")
else:
    print("tuple2 is not a subsequence of tuple1")

tuple2 is a subsequence of tuple1

In [14]:
#50. Create a tuple of alternating 1s and 0s of length `n`.
#Ans:
def alternating_ones_zeros(length):
    result = tuple((i % 2) for i in range(length))
    return result

n = 10 
alternating_tuple = alternating_ones_zeros(n)

print("Tuple of alternating 1s and 0s of length", n, ":", alternating_tuple)

Tuple of alternating 1s and 0s of length 10 : (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [ ]:
#Set Based Practice Problem :

In [17]:
#1. Create a set with integers from 1 to 5.
#Ans:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [28]:
#2. Add an element to a set.
#Ans:
my_set = {1, 2, 3, 4, 5}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [29]:
#3. Remove an element from a set.
#Ans:
my_set = {1, 2, 3, 4, 5}
my_set.discard(4)
print(my_set)

{1, 2, 3, 5}

In [30]:
#4. Check if an element exists in a set.
#Ans:
my_set = {1, 2, 3, 4, 5}
element=4

if element in my_set:
    print("Element is exist in a set")
else:
    print("Element is not exist in a set")

Element is exist in a set

In [32]:
#5. Find the length of a set without using the `len()` function.
#Ans:
my_set = {1, 2, 3, 4, 5}

count=0
for i in my_set:
        count+=1
print("length of my_set is:",count)

length of my_set is: 5

In [33]:
#6. Clear all elements from a set.
#Ans:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [35]:
#7. Create a set of even numbers from 1 to 10.
#Ans:
Even_numbers ={x for x in range(1,11) if x%2 == 0}
print("Set of even numbers :",Even_numbers)

Set of even numbers : {2, 4, 6, 8, 10}

In [37]:
#8. Create a set of odd numbers from 1 to 10.
#Ans:
Odd_numbers ={x for x in range(1,11) if x%2 != 0}
print("Set of even numbers :",Odd_numbers)

Set of even numbers : {1, 3, 5, 7, 9}

In [40]:
#9. Find the union of two sets.
#Ans:
s1={1,2,3,4,5}
s2={3,4,5}
union_set = s1 | s2
print(union_set)

{1, 2, 3, 4, 5}

In [41]:
#10. Find the intersection of two sets.
#Ans:
s1={1,2,3,4,5}
s2={3,4,5}
Intersection_set = s1 & s2
print(Intersection_set)

{3, 4, 5}

In [43]:
#12. Check if a set is a subset of another set.
#Ans:
s1={1,2,3,4,5}
s2={3,4,5}

is_subset = s2.issubset(s1)

if is_subset:
    print("s2 is subset of s1")
else:
    print("s2 is not subset of s1")

s2 is subset of s1

In [44]:
#13. Check if a set is a superset of another set.
#Ans:
s1={1,2,3,4,5}
s2={3,4,5}

is_superset = s1.issuperset(s2)

if is_superset:
    print("s1 is superset of s2")
else:
    print("s1 is not superset of s2")

s1 is superset of s2

In [49]:
#14. Create a set from a list.
#Ans:
l=[1,2,3,4,5]
my_set =set(l)
print(my_set)

{1, 2, 3, 4, 5}

In [50]:
#15. Convert a set to a list.
#Ans:
s1={1,2,3,4,5}
my_list = list(s1)
print(my_list)

[1, 2, 3, 4, 5]

In [55]:
#16. Remove a random element from a set.
#Ans:
s1={1,2,3,4,5}
removed_element = s1.pop()
print("Set after removing element", removed_element, ":", s1)

Set after removing element 1 : {2, 3, 4, 5}

In [56]:
#17. Pop an element from a set.
#Ans:
s1={1,2,3,4,5}
removed_element = s1.pop()
print("Set after removing element", removed_element, ":", s1)

Set after removing element 1 : {2, 3, 4, 5}

In [59]:
#18. Check if two sets have no elements in common.
#Ans:
s1={1,2,3,4,5}
s2={6,7,8,9}

no_common_elements = s1.isdisjoint(s2)

if no_common_elements:
    print("The sets have no elements common")
else:
    print("The sets have elements common")

The sets have no elements common

In [60]:
#19. Find the symmetric difference between two sets.
#Ans:

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

symmetric_diff = set1 ^ set2
print("Symmetric difference between set1 and set2:", symmetric_diff)

Symmetric difference between set1 and set2: {1, 2, 5, 6}

In [61]:
#20. Update a set with elements from another set.
#Ans:

set1 = {1, 2, 3}
set2 = {3, 4, 5}


set1.update(set2)
print("Updated set1:", set1)

Updated set1: {1, 2, 3, 4, 5}

In [62]:
#21. Create a set of the first 5 prime numbers.
#Ans:

def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

count = 0
num = 2
prime_set = set()

while count < 5:
    if is_prime(num):
        prime_set.add(num)
        count += 1
    num += 1

print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [67]:
#22. Check if two sets are identical.
#Ans:
set1 = {1, 2, 3,4}
set2 = {3, 2, 1,4}

if set2==set1:
    print("Both sets are identical")
else:
    print("Both sets are not identical")

Both sets are identical

In [68]:
#23. Create a frozen set.
#Ans:
my_set = {1, 2, 3, 4, 5}
frozen_set = frozenset(my_set)

print("Original set:", my_set)
print("Frozen set:", frozen_set)

Original set: {1, 2, 3, 4, 5}
Frozen set: frozenset({1, 2, 3, 4, 5})

In [70]:
#24. Check if a set is disjoint with another set.
#Ans:

s1={1,2,3,4,5}
s2={6,7,8,9}

are_disjoint = s1.isdisjoint(s2)

if are_disjoint:
    print("The sets are disjoint means have no elements common.")
else:
    print("The sets are not disjoint means have elements common.")

The sets are disjoint means have no elements common.

In [71]:
#25. Create a set of squares of numbers from 1 to 5.
#Ans:
Set_of_squares={i**2 for i in range(1,6)}
print(Set_of_squares)

{1, 4, 9, 16, 25}

In [73]:
#26. Filter out all even numbers from a set.
#Ans:
s1={1,2,3,4,5,6,7,8,10,12}
s2=[]
for i in s1:
    if i%2==0:
        s2.append(i)
print(set(s2))

{2, 4, 6, 8, 10, 12}

In [78]:
#27. Multiply all elements in a set by 2.
#Ans:
s1={1,2,3,4,5,6}
s2=[]
for i in s1:
    s2.append(i*2)
print(s2)

[2, 4, 6, 8, 10, 12]

In [3]:
#28. Create a set of random numbers.
#Ans:
import random

random_numbers =[random.randint(1,100) for _ in range (5)]

print("Random numbers:",random_numbers)

Random numbers: [22, 16, 27, 7, 99]

In [4]:
#29. Check if a set is empty.
#Ans:

empty_set = set()

if len(empty_set) == 0:
    print("The set is empty")
else:
    print("The set is not empty")

The set is empty

In [7]:
#30. Create a nested set (hint: use frozenset).
#Ans:

nested_set = frozenset([frozenset({'apple', 'banana'}),frozenset({'orange', 'grape', 'kiwi'}),
                        frozenset({'pineapple', 'watermelon'}),])

print("Nested frozenset:", nested_set)

Nested frozenset: frozenset({frozenset({'orange', 'kiwi', 'grape'}), frozenset({'watermelon', 'pineapple'}), frozenset({'apple', 'banana'})})

In [8]:
#31. Remove an element from a set using the discard method.
#Ans:

s1={1,2,3,4,5,6}
s1.discard(5)
print(s1)

{1, 2, 3, 4, 6}

In [10]:
#32. Compare two sets.
#Ans:

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

print("Are the sets equal?", set1 == set2)

print("Are the sets not equal?", set1 != set2)

print("Is set1 a subset of set2?", set1 <= set2)

print("Is set2 a subset of set1?", set2 <= set1)

print("Is set1 a proper subset of set2?", set1 < set2)

print("Is set2 a proper subset of set1?", set2 < set1)

print("Is set1 a superset of set2?", set1 >= set2)

print("Is set2 a superset of set1?", set2 >= set1)

print("Is set1 a proper superset of set2?", set1 > set2)

print("Is set2 a proper superset of set1?", set2 > set1)

Are the sets equal? False
Are the sets not equal? True
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Is set1 a proper subset of set2? False
Is set2 a proper subset of set1? False
Is set1 a superset of set2? False
Is set2 a superset of set1? False
Is set1 a proper superset of set2? False
Is set2 a proper superset of set1? False

In [4]:
#33. Create a set from a string.
#Ans:
s ="Hello all we are learning Python"
my_set = set(s)
print(my_set,type(my_set))

{'t', 'h', 'e', 'w', 'y', 'i', 'l', ' ', 'a', 'g', 'n', 'o', 'P', 'r', 'H'} <class 'set'>

In [8]:
#34. Convert a set of strings to a set of integers.
#Ans:
string_set = {"1","2","3","4","5"} 


integer_set = {int(x) for x in string_set}

print(integer_set)

{1, 2, 3, 4, 5}

In [7]:
#35. Convert a set of integers to a set of strings.
#Ans:
Integer_set = {1,2,3,4,5}

string_set ={str(x) for x in Integer_set}
print(string_set)

{'3', '2', '5', '1', '4'}

In [9]:
#36. Create a set from a tuple.
#Ans:
t=(1,2,3,4)
my_set = set(t)

print(my_set)

{1, 2, 3, 4}

In [10]:
#37. Convert a set to a tuple.
#Ans:
my_set = {1, 2, 3, 4}
t=tuple(my_set)

print(t,type(t))

(1, 2, 3, 4) <class 'tuple'>

In [3]:
#38. Find the maximum value in a set.
#Ans:
my_set = {1, 2, 3, 4,9}
Max_element=max(my_set)
print(Max_element)

9

In [4]:
#39. Find the minimum value in a set
#Ans:
my_set = {1, 2, 3, 4,9}
Min_element=min(my_set)
print(Min_element)

1

In [19]:
#40. Create a set from user input.
#Ans:

input_values = input("Enter elements separated by spaces: ")

elements = input_values.split()

user_set = set(elements)

print("The set created from user input:", user_set)

Enter elements separated by spaces:  1 2 3 4

The set created from user input: {'1', '4', '2', '3'}

In [22]:
#41. Check if the intersection of two sets is empty.
#Ans:

set1 = {1, 2, 3, 4}
set2 = {5, 6, 7}

intersection = set1.intersection(set2)

if not intersection:
    print("The intersection of the sets is empty.")
else:
    print("The intersection of the sets is not empty:", intersection)

The intersection of the sets is empty.

In [26]:
#42. Create a set of the first 5 Fibonacci numbers.
#Ans:

def generate_fibonacci(n):
    fibonacci_set = set()
    a, b = 0, 1
    for _ in range(n):
        fibonacci_set.add(a)
        a, b = b, a + b
    return fibonacci_set


first_5_fibonacci = generate_fibonacci(5)

print("Set of the first 5 Fibonacci numbers:", first_5_fibonacci)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

In [27]:
#43. Remove duplicates from a list using sets.
#Ans:
my_list=[1,2,2,3,4,3,5,6,5,6]
my_set=set(my_list)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [28]:
#44. Check if two sets have the same elements, regardless of their count.
#Ans:

set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1, 1}

if set1.issubset(set2) and set2.issubset(set1):
    print("The sets have the same elements, regardless of their count.")
else:
    print("The sets do not have the same elements, regardless of their count.")

The sets have the same elements, regardless of their count.

In [29]:
#45. Create a set of the first `n` powers of 2.
#Ans:
def generate_powers_of_2(n):
    powers_of_2_set = {2 ** i for i in range(n)}
    return powers_of_2_set

n = 5

powers_of_2 = generate_powers_of_2(n)

print(f"Set of the first {n} powers of 2:", powers_of_2)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

In [1]:
#46. Find the common elements between a set and a list.
#Ans:

my_set = {1, 2, 3, 4, 5}

my_list = [3, 4, 5, 6, 7]

common_elements = set(my_list).intersection(my_set)

print("Common elements:", common_elements)

Common elements: {3, 4, 5}

In [4]:
#47. Create a set of the first `n` triangular numbers.
#Ans:
def triangular_number(n):
    number={i*(i+1)//2 for i in range(1,n+1)}
    return number

n=4

triangular_n_numbers = triangular_number(n)

print(triangular_n_numbers)

{1, 10, 3, 6}

In [5]:
#48. Check if a set contains another set as a subset.
#Ans:

set1 = {1, 2, 3, 4,5,6,7}
set2 = {3, 4, 5}

print("Is set1 a subset of set2?", set1 <= set2)

print("Is set2 a subset of set1?", set2 <= set1)

Is set1 a subset of set2? False
Is set2 a subset of set1? True

In [6]:
#49. Create a set of alternating 1s and 0s of length `n`.
#Ans:

def alternating_ones_zeros(n):
    alternating_set = {1 if i % 2 == 0 else 0 for i in range(n)}
    return alternating_set

n = 8 

alternating_sequence = alternating_ones_zeros(n)

print(f"Set of alternating 1s and 0s of length {n}:", alternating_sequence)

Set of alternating 1s and 0s of length 8: {0, 1}

In [8]:
#50. Merge multiple sets into one.
#Ans:
set1 = {1, 2, 3}
set2 = {5,6,7}
set3 ={10,20,30}

merged_set = set1 | set2 | set3

print("Merged set using | operator:", merged_set)

Merged set using | operator: {1, 2, 3, 5, 6, 7, 10, 20, 30}